@import '~@angular/material/core/theming/prebuilt/deeppurple-amber';
//@import '~@angular/material/core/theming/prebuilt/indigo-pink';
//@import '~@angular/material/core/theming/prebuilt/pink-bluegrey';
//@import '~@angular/material/core/theming/prebuilt/purple-green';

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

// container base styles
.router-outlet-container {
  flex-grow: 1;
  align-self: stretch;
  display: flex;

  &[hidden] {
    display: none;
  }

  > * {
    display: block;
    align-self: stretch;
    flex-grow: 1;
  }
}

.global-page-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

app-root {
  min-height: calc(100vh - 100px);

  display: flex;
  flex-direction: column;
}
