{
  "extends": "airbnb/base",
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "angular": true,
    "_": true,
    "faker": true
  },
  "rules": {
    "indent": [2, 4, { "SwitchCase": 1 }],
    "no-use-before-define": [2, "nofunc"],
    "no-multi-spaces": [2, { "exceptions": { "VariableDeclarator": true } }]
  }
}
