:host {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.page {
  flex-grow: 1;
  display: flex;
}

.home-icon {
  padding: 0 14px 0 0;
  cursor: pointer;
}

.page-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

router-outlet {
  display: none !important;
}
