<!-- <form (submit)="save(name)">
    Your Content Here
    <input type="text" #name autofocus>
</form>

{{ players.length }} {{ test }}
<h3>Players:</h3>
<ul>
    <li *ngFor="#player of players">{{ player.name }} <span (click)="remove(player)">&times;</span></li>
</ul> -->

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h2>Join Existing Game</h2>

            <div *ngFor="#games of gamess">{{ games.name }}</div>
        </div>

        <div class="col-xs-12 col-md-6">
            <h2>Create a New Game</h2>

            <form (submit)="createNewGame(gameName)">
                <div class="form-group label-floating">
                    <label for="gameName">Game Name</label>
                    <input type="text" #gameName class="form-control" id="gameName" autocomplete="off" />
                </div>

                <button type="submit" class="btn btn-raised btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>
